.grid{
  
   
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgb(173, 173, 173);
    text-align:center;
    line-height:2;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: larger;
}

.grid div{
    height:34px;
    width:34px;
    margin:1px;
    border-style:groove;
    border-top-color: rgb(238, 238, 238);
    border-right-color: rgb(153, 153, 153);
    border-bottom-color: rgb(153, 153, 153);
    border-left-color: rgb(238, 238, 238);
    padding: 0;
    margin: 0;
}
.checked{
    background-color: rgb(224, 224, 224);
    
}

.bomb {
   background-color: brown;
}
.one{
    color: blue;
}
.two{
    color:green;
}
.three{
    color:red;
}
.four{
    color:purple;
}
