.grid{
    justify-content: center;
    width: 400px;
    height: 400px;
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(202, 202, 202);
    text-align:center;
    line-height: 2.5;
    
}

.grid div{
    height:34px;
    width:34px;
    margin:1px;
    border-style:solid;
    border-top-color: rgb(238, 238, 238);
    border-right-color: rgb(153, 153, 153);
    border-bottom-color: rgb(153, 153, 153);
    border-left-color: rgb(238, 238, 238);
    padding: 0;
    margin: 0;
}
.checked{
    background-color: rgb(224, 224, 224);
    
}

.bomb {
   
}

